.photo:hover{
    animation-name: changebg;
    animation-duration: 2s;
    animation-iteration-count: 1;
    border-style: none;
}

@keyframes changebg {
    0% {background-color: turquoise;}
    25% {background-color: teal;}
    50% {background-color: blue;}
    75% {background-color: mediumaquamarine;}
    100% {background-color: turquoise;}
}

canvas{
    animation-name: Ihavenoidea;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 45px !important;
}

@keyframes Ihavenoidea {
    0% {box-shadow: 1px 1px 38px red;}
    25% {box-shadow: 1px 1px 38px orangered;}
    50% {box-shadow: 1px 1px 38px orange;}
    75% {box-shadow: 1px 1px 38px yellow;}
    100% {box-shadow: 1px 1px 38px red;}
}